{% extends "layout-statistics.html" %}
{% block title %}
  {{ super() }}
  Forecasting — Datarist
{% endblock %}
{% block heading %}
  {{ super() }}
  Forecasting
{% endblock %}
{% block sub_heading %}
  {{ super() }}
  Documentation and examples for ARIMA (Box-Jenkins), Automatic ARMA, Theoretical ARMA, Autocorrelations, Cross-Correlations, Spectral Analysis, Decomposition Forecasting, Exponential Smoothing - Horizontal, Exponential Smoothing - Trend, Exponential Smoothing - Trend / Seasonal, Harmonic Regression, Analysis of Runs and more.
{% endblock %}


