{% extends "layout-statistics.html" %}
{% block title %}
  {{ super() }}
  Cochran-Armitage test of trend — Datarist
{% endblock %}
{% block heading %}
  {{ super() }}
  Cochran-Armitage test of trend
{% endblock %}
{% block sub_heading %} 
  {{ super() }}
  The Cochran–Armitage test for trend, named for William Cochran and Peter Armitage, is used in categorical data analysis when the aim is to assess for the presence of an association between a variable with two categories and an ordinal variable with k categories. It modifies the Pearson chi-squared test to incorporate a suspected ordering in the effects of the k categories of the second variable. For example, doses of a treatment can be ordered as 'low', 'medium', and 'high', and we may suspect that the treatment benefit cannot become smaller as the dose increases. The trend test is often used as a genotype-based test for case-control genetic association studies.]
{% endblock %} 
{% block content %}
  {{ super() }}
  Content.
{% endblock %}
