{% extends "layout-statistics.html" %}
{% block title %}
  {{ super() }}
  Fisher's exact test (2x2) for independence — Datarist
{% endblock %}
{% block heading %}
  {{ super() }}
  Fisher's exact test (2x2) for independence
{% endblock %}
{% block sub_heading %} 
  {{ super() }}
  Use the Fisher's exact test of independence when you have two nominal variables and you want to see whether the proportions of one variable are different depending on the value of the other variable. Use it when the sample size is small.
{% endblock %} 
{% block content %}
  {{ super() }}
  Content.
{% endblock %}
