{% extends "layout-statistics.html" %}
{% block title %}
  {{ super() }}
  Kendall's τb (tau-b) — Datarist
{% endblock %}
{% block heading %}
  {{ super() }}
  Kendall's τb (tau-b)
{% endblock %}
{% block sub_heading %} 
  {{ super() }}
  Kendall's tau-b (τb) correlation coefficient (Kendall's tau-b, for short) is a nonparametric measure of the strength and direction of association that exists between two variables measured on at least an ordinal scale. It is considered a nonparametric alternative to the Pearson’s product-moment correlation when your data has failed one or more of the assumptions of this test. It is also considered an alternative to the nonparametric Spearman rank-order correlation coefficient (especially when you have a small sample size with many tied ranks). If you consider one of your variables as an independent variable and the other as a dependent variable, you might consider running a Somers' d test instead.
{% endblock %} 
{% block content %}
  {{ super() }}
  Content.
{% endblock %}
