{% extends "layout-graphics.html" %}
{% block title %}
  {{ super() }}
  Quality Control Charts — Datarist
{% endblock %}
{% block heading %}
  {{ super() }}
  Quality Control Charts
{% endblock %}
{% block sub_heading %}
  {{ super() }}
  Documentation and examples for X-bar and R Charts, X-bar and s Charts, X-bar Charts, R Charts, s Charts, CUSUM Charts, Moving Average Charts, EWMA Charts, Individuals and Moving Range Charts, Levey-Jennings Charts, P Charts, NP Charts, C Charts, U Charts, Lag Plots, Pareto Charts, Capability Analysis, Analysis of Runs and more. 
{% endblock %}



