<footer class="dd-footer py-5 py-md-5 mt-5 border-top fw-light fs-7">
    <div class="container px-4 px-md-3">
      <div class="row mb-5">
        <div class="col-lg-3">
          <ul class="list-unstyled">
            <li class="mb-2 text-black">Subscribe to our newsletter</li>
            <li class="mb-2 text-secondary">Get data insights. Right in your inbox.</li>
            <li class="mb-2 dd-footer-btn"><a class="btn btn-outline-dark fw-light fs-7" href="https://newsletter.datarist.com" role="button">Subscribe</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1">
          <ul class="list-unstyled">
            <li class="mb-2 text-black">Links</li>
            <li class="mb-2"><a href="https://datarist.com/">Home</a></li>
            <li class="mb-2"><a href="https://datarist.com/docs/">Docs</a></li>
            <li class="mb-2"><a href="https://newsletter.datarist.com/">Newsletter</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <ul class="list-unstyled">
            <li class="mb-2 text-black">Docs</li>
            <li class="mb-2"><a href="https://datarist.com/docs/getting-started/">Getting Started</a></li>
            <li class="mb-2"><a href="https://datarist.com/docs/statistics/">Statistics</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <ul class="list-unstyled">
            <li class="mb-2 text-black">Datarist</li>
            <li class="mb-2"><a href="https://datarist.com/about/">About</a></li>
            <li class="mb-2"><a href="https://datarist.com/brand/">Brand</a></li>
            <li class="mb-2"><a href="https://datarist.com/terms/">Terms</a></li>
            <li class="mb-2"><a href="https://datarist.com/privacy/">Privacy</a></li>
            <li class="mb-2"><a href="https://datarist.com/privacy/websites/">Cookies</a></li>
            <li class="mb-2"><a href="https://datarist.com/contact/">Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <ul class="list-unstyled">
            <li class="mb-2 text-black">Community</li>
            <li class="mb-2"><a href="https://github.com/mydatarist/" target="_blank" rel="noopener">Github</a></li>
            <li class="mb-2"><a href="https://twitter.com/datarist/" target="_blank" rel="noopener">Twitter</a></li>
            <li class="mb-2"><a href="https://medium.com/@datarist/" target="_blank" rel="noopener">Medium</a></li>
            <li class="mb-2"><a href="https://youtube.com/@datarist/" target="_blank" rel="noopener">YouTube</a></li>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 border-top fs-8">
        <div class="col-md-4 d-flex align-items-center">
          <a href="https://datarist.com/" class="me-2 text-body-secondary text-decoration-none lh-1">
            <img src="https://datarist.com/assets/brand/logo-16x16.png"  class="d-block" role="img" alt="Datarist" />
          </a>
          <span class="text-body-secondary">&copy; 2024 Datarist</span>
        </div>        
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://github.com/mydatarist/" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#github"/></svg></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/datarist/" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://medium.com/@datarist/" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#medium"/></svg></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://youtube.com/@datarist/" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#youtube"/></svg></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="https://datarist.com/assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://datarist.com/assets/js/docsearch.js"></script>
  <script type="text/javascript">
    docsearch({  
    appId: "J81I0DUQA2",  
    apiKey: "0c59463f94974171a0b8b0905fcb652b",  
    indexName: "datarist",  
    container: '#docsearch', 
    insights: true 
    });  
  </script>  
</body>
</html>
<!doctype html>