.bg-light {
  background-color: #ffffff !important;
}

.text-bg-light {
  background-color: #ffffff !important;
}

.bg-primary {
  background-color: #2a2a2e !important;
}

.text-bg-primary {
  background-color: #2a2a2e !important;
}

.off-canvas-nav-title {
  color: #0c0c0d !important;
  font-size: .75rem;
  font-weight: 700;
}

.off-canvas-nav-link {
  color: #737373 !important;
  font-size: .75rem;
  text-decoration: none !important;
}

.off-canvas-nav-link-active {
  color: #0c0c0d !important;
  font-weight: 700;
  text-decoration: none !important;
}

.text-bg-purple {
  background-color: #c069ff !important;
}

.copyright {
  font-size: .75rem;
  color: #737373;
}
