.bg-light {
  background-color: #ffffff !important;
}

.text-bg-light {
  background-color: #ffffff !important;
}

.bg-primary {
  background-color: #2a2a2e !important;
}

.text-bg-primary {
  background-color: #2a2a2e !important;
}

.bg-purple {
  background-color: #c069ff !important;
}

.text-dark {
  color: #0c0c0d;
}

.fs-6 {
  font-size: .75rem;
}
