.dd-navbar {
    background-color: var(--dd-bg);    
}
.dd-navbar::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    content: "";
}
.dd-navbar .navbar-toggler {
    padding: 0;
    margin-right: -.5rem;
    border: 0;
}
.dd-navbar .navbar-toggler:first-child {
    margin-left: -.5rem;
}
.dd-navbar .navbar-toggler .bi {
    width: 1.5rem;
    height: 1.5rem;
}
.dd-navbar .navbar-toggler:focus {
    box-shadow: none;
}
.dd-navbar .navbar-brand {
    color: var(--dd-color);
}
.dd-navbar .navbar-toggler,.dd-navbar .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
    color: var(--dd-color);
}
.dd-navbar .navbar-toggler:hover,.dd-navbar .navbar-toggler:focus,.dd-navbar .nav-link:hover,.dd-navbar .nav-link:focus {
    color: var(--dd-color-focus);
}
.dd-navbar .navbar-toggler.active,.dd-navbar .nav-link.active {
    font-weight: 600;
    color: #fff
}
.dd-navbar .navbar-nav-svg {
    display: inline-block;
    vertical-align: -.125rem
}
.dd-navbar .offcanvas-lg {
    background-color: var(--dd-dark-bg);
    border-left: 0
}
.dd-navbar .dropdown-toggle:focus:not(:focus-visible) {
    outline: 0
}
.dd-navbar .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: .25rem;
    --bs-dropdown-padding-y: .25rem;
    --bs-dropdown-link-hover-bg: rgba(var(--dd-body-bg-rgb), .1);
    --bs-dropdown-link-active-bg: rgba(var(--dd-body-bg-rgb), 1);
    --bs-dropdown-font-size: .875rem;
    font-size: .875rem;
    border-radius: .5rem;
    box-shadow: var(--bs-box-shadow)
}
.dd-navbar .dropdown-menu li+li {
    margin-top: .125rem
}
.dd-navbar .dropdown-menu .dropdown-item {
    border-radius: .25rem
}
.dd-navbar .dropdown-menu .dropdown-item:active .bi {
    color: inherit !important
}
.dd-navbar .dropdown-menu .active {
    font-weight: 600
}
.dd-navbar .dropdown-menu .active .bi {
    display: block !important
}
.dd-navbar .dropdown-menu-end {
    --bs-dropdown-min-width: 8rem
}
@media (max-width: 991.98px) {
    .dd-navbar .dd-navbar-toggle {
        width:4.25rem
    }
}
@media (prefers-reduced-motion: reduce) {
    .dd-navbar .navbar-brand {
        transition: none
    }
}
@media (max-width: 991.98px) {
    .dd-navbar .offcanvas-lg {
        box-shadow:var(--bs-box-shadow-lg)
    }
}
.dd-search {
    position: relative
}

@media (min-width: 992px) {
    .dd-search {
        position:absolute;
        top: .875rem;
        left: 50%;
        width: 200px;
        margin-left: -100px
    }
}

@media (min-width: 1200px) {
    .dd-search {
        width:280px;
        margin-left: -140px
    }
}

.DocSearch-Container {
    --docsearch-muted-color: var(--bs-secondary-color);
    --docsearch-hit-shadow: none;
    z-index: 2000;
    cursor: auto
}

@media (min-width: 992px) {
    .DocSearch-Container {
        padding-top:4rem
    }
}

.DocSearch-Button {
    --docsearch-searchbox-background: rgba(0,0,0,0.1);
    --docsearch-searchbox-color: #fff;
    --docsearch-searchbox-focus-background: rgba(0,0,0,0.25);
    --docsearch-searchbox-shadow: 0 0 0 0.25rem rgba(255,255,255,0.4);
    --docsearch-text-color: #fff;
    --docsearch-muted-color: rgba(255,255,255,0.65);
    width: 100%;
    height: 38px;
    margin: 0;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: .375rem
}

.DocSearch-Button .DocSearch-Search-Icon {
    opacity: .65
}

.DocSearch-Button:active,.DocSearch-Button:focus,.DocSearch-Button:hover {
    border-color: #ffffff
}

.DocSearch-Button:active .DocSearch-Search-Icon,.DocSearch-Button:focus .DocSearch-Search-Icon,.DocSearch-Button:hover .DocSearch-Search-Icon {
    opacity: 1
}

@media (max-width: 991.98px) {
    .DocSearch-Button,.DocSearch-Button:hover,.DocSearch-Button:focus {
        background:transparent;
        border: 0;
        box-shadow: none
    }

    .DocSearch-Button:focus {
        box-shadow: var(--docsearch-searchbox-shadow)
    }
}

@media (max-width: 991.98px) {
    .DocSearch-Button-Keys,.DocSearch-Button-Placeholder {
        display:none
    }
}

.DocSearch-Button-Keys {
    min-width: 0;
    padding: .125rem .25rem;
    background: rgba(0,0,0,0.25);
    border-radius: .25rem
}

.DocSearch-Button-Key {
    top: 0;
    width: auto;
    height: 1.25rem;
    padding-right: .125rem;
    padding-left: .125rem;
    margin-right: 0;
    font-size: .875rem;
    background: none;
    box-shadow: none
}

.DocSearch-Commands-Key {
    padding-left: 1px;
    font-size: .875rem;
    background-color: rgba(0,0,0,0.1);
    background-image: none;
    box-shadow: none
}

.DocSearch-Form {
    border-radius: var(--bs-border-radius)
}

.DocSearch-Hits mark {
    padding: 0
}

.DocSearch-Hit {
    padding-bottom: 0;
    border-radius: 0
}

.DocSearch-Hit a {
    border-radius: 0;
    border: solid var(--bs-border-color);
    border-width: 0 1px 1px
}

.DocSearch-Hit:first-child a {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-top-width: 1px
}

.DocSearch-Hit:last-child a {
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius)
}

.DocSearch-Hit-icon {
    display: flex;
    align-items: center
}

.DocSearch-Logo svg .cls-1,.DocSearch-Logo svg .cls-2 {
    fill: var(--docsearch-logo-color)
}

.dd-masthead {
    --dd-pink-rgb: 214,51,132;
    padding: 3rem 0;
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--dd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--dd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--dd-pink-rgb), 0.5), transparent 50%)
}

.dd-masthead h1 {
    --bs-heading-color: var(--bs-emphasis-color);
    font-size: calc(1.525rem + 3.3vw)
}
