:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
    grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
    gap: var(--bs-gap, 1.5rem)
}

.grid .g-col-1 {
    grid-column: auto/span 1
}

.grid .g-col-2 {
    grid-column: auto/span 2
}

.grid .g-col-3 {
    grid-column: auto/span 3
}

.grid .g-col-4 {
    grid-column: auto/span 4
}

.grid .g-col-5 {
    grid-column: auto/span 5
}

.grid .g-col-6 {
    grid-column: auto/span 6
}

.grid .g-col-7 {
    grid-column: auto/span 7
}

.grid .g-col-8 {
    grid-column: auto/span 8
}

.grid .g-col-9 {
    grid-column: auto/span 9
}

.grid .g-col-10 {
    grid-column: auto/span 10
}

.grid .g-col-11 {
    grid-column: auto/span 11
}

.grid .g-col-12 {
    grid-column: auto/span 12
}

.grid .g-start-1 {
    grid-column-start: 1
}

.grid .g-start-2 {
    grid-column-start: 2
}

.grid .g-start-3 {
    grid-column-start: 3
}

.grid .g-start-4 {
    grid-column-start: 4
}

.grid .g-start-5 {
    grid-column-start: 5
}

.grid .g-start-6 {
    grid-column-start: 6
}

.grid .g-start-7 {
    grid-column-start: 7
}

.grid .g-start-8 {
    grid-column-start: 8
}

.grid .g-start-9 {
    grid-column-start: 9
}

.grid .g-start-10 {
    grid-column-start: 10
}

.grid .g-start-11 {
    grid-column-start: 11
}

@media (min-width: 576px) {
    .grid .g-col-sm-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-sm-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-sm-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-sm-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-sm-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-sm-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-sm-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-sm-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-sm-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-sm-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-sm-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-sm-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-sm-1 {
        grid-column-start: 1
    }

    .grid .g-start-sm-2 {
        grid-column-start: 2
    }

    .grid .g-start-sm-3 {
        grid-column-start: 3
    }

    .grid .g-start-sm-4 {
        grid-column-start: 4
    }

    .grid .g-start-sm-5 {
        grid-column-start: 5
    }

    .grid .g-start-sm-6 {
        grid-column-start: 6
    }

    .grid .g-start-sm-7 {
        grid-column-start: 7
    }

    .grid .g-start-sm-8 {
        grid-column-start: 8
    }

    .grid .g-start-sm-9 {
        grid-column-start: 9
    }

    .grid .g-start-sm-10 {
        grid-column-start: 10
    }

    .grid .g-start-sm-11 {
        grid-column-start: 11
    }
}

@media (min-width: 768px) {
    .grid .g-col-md-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-md-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-md-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-md-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-md-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-md-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-md-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-md-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-md-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-md-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-md-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-md-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-md-1 {
        grid-column-start: 1
    }

    .grid .g-start-md-2 {
        grid-column-start: 2
    }

    .grid .g-start-md-3 {
        grid-column-start: 3
    }

    .grid .g-start-md-4 {
        grid-column-start: 4
    }

    .grid .g-start-md-5 {
        grid-column-start: 5
    }

    .grid .g-start-md-6 {
        grid-column-start: 6
    }

    .grid .g-start-md-7 {
        grid-column-start: 7
    }

    .grid .g-start-md-8 {
        grid-column-start: 8
    }

    .grid .g-start-md-9 {
        grid-column-start: 9
    }

    .grid .g-start-md-10 {
        grid-column-start: 10
    }

    .grid .g-start-md-11 {
        grid-column-start: 11
    }
}

@media (min-width: 992px) {
    .grid .g-col-lg-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-lg-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-lg-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-lg-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-lg-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-lg-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-lg-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-lg-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-lg-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-lg-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-lg-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-lg-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-lg-1 {
        grid-column-start: 1
    }

    .grid .g-start-lg-2 {
        grid-column-start: 2
    }

    .grid .g-start-lg-3 {
        grid-column-start: 3
    }

    .grid .g-start-lg-4 {
        grid-column-start: 4
    }

    .grid .g-start-lg-5 {
        grid-column-start: 5
    }

    .grid .g-start-lg-6 {
        grid-column-start: 6
    }

    .grid .g-start-lg-7 {
        grid-column-start: 7
    }

    .grid .g-start-lg-8 {
        grid-column-start: 8
    }

    .grid .g-start-lg-9 {
        grid-column-start: 9
    }

    .grid .g-start-lg-10 {
        grid-column-start: 10
    }

    .grid .g-start-lg-11 {
        grid-column-start: 11
    }
}

@media (min-width: 1200px) {
    .grid .g-col-xl-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-xl-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-xl-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-xl-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-xl-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-xl-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-xl-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-xl-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-xl-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-xl-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-xl-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-xl-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-xl-1 {
        grid-column-start: 1
    }

    .grid .g-start-xl-2 {
        grid-column-start: 2
    }

    .grid .g-start-xl-3 {
        grid-column-start: 3
    }

    .grid .g-start-xl-4 {
        grid-column-start: 4
    }

    .grid .g-start-xl-5 {
        grid-column-start: 5
    }

    .grid .g-start-xl-6 {
        grid-column-start: 6
    }

    .grid .g-start-xl-7 {
        grid-column-start: 7
    }

    .grid .g-start-xl-8 {
        grid-column-start: 8
    }

    .grid .g-start-xl-9 {
        grid-column-start: 9
    }

    .grid .g-start-xl-10 {
        grid-column-start: 10
    }

    .grid .g-start-xl-11 {
        grid-column-start: 11
    }
}

@media (min-width: 1400px) {
    .grid .g-col-xxl-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-xxl-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-xxl-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-xxl-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-xxl-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-xxl-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-xxl-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-xxl-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-xxl-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-xxl-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-xxl-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-xxl-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-xxl-1 {
        grid-column-start: 1
    }

    .grid .g-start-xxl-2 {
        grid-column-start: 2
    }

    .grid .g-start-xxl-3 {
        grid-column-start: 3
    }

    .grid .g-start-xxl-4 {
        grid-column-start: 4
    }

    .grid .g-start-xxl-5 {
        grid-column-start: 5
    }

    .grid .g-start-xxl-6 {
        grid-column-start: 6
    }

    .grid .g-start-xxl-7 {
        grid-column-start: 7
    }

    .grid .g-start-xxl-8 {
        grid-column-start: 8
    }

    .grid .g-start-xxl-9 {
        grid-column-start: 9
    }

    .grid .g-start-xxl-10 {
        grid-column-start: 10
    }

    .grid .g-start-xxl-11 {
        grid-column-start: 11
    }
}

:root,
[data-bs-theme="light"] {
    --dd-navbar-bg: #fff;
    --dd-black: #000;
    --dd-body-bg: #212529;
    --dd-body-bg-rgb: 33, 37, 41;
    --dd-purple: #4c0bce;
    --dd-violet: #712cf9;
    --dd-accent: #ffe484;
    --dd-violet-rgb: 112.520718,44.062154,249.437846;
    --dd-accent-rgb: 255,228,132;
    --dd-pink-rgb: 214,51,132;
    --dd-teal-rgb: 32,201,151;
    --dd-violet-bg: var(--dd-violet);
    --dd-toc-color: var(--dd-violet);
    --dd-sidebar-link-bg: rgba(var(--dd-violet-rgb), .1);
    --dd-callout-link: 10,88,202;
    --dd-callout-code-color: #ab296a;
    --dd-pre-bg: var(--bs-tertiary-bg)
}

[data-bs-theme="dark"] {
    --dd-navbar-bg: #212529;
    --dd-violet: #9461fb;
    --dd-violet-bg: #712cf9;
    --dd-toc-color: var(--bs-emphasis-color);
    --dd-sidebar-link-bg: rgba(84,33,187, .5);
    --dd-callout-link: 110,168,254;
    --dd-callout-code-color: #e685b5;
    --dd-pre-bg: #1b1f22;
}

.dd-navbar {
    padding: .75rem 0;
    background-color: var(--dd-navbar-bg);
}



[data-bs-theme="dark"] .dd-navbar {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}

:root {
    --docsearch-primary-color: var(--dd-body-bg);
    --docsearch-logo-color: var(--dd-body-bg)
}

[data-bs-theme="dark"] {
    --docsearch-text-color: #f5f6f7;
    --docsearch-container-background: rgba(9, 10, 17, .8);
    --docsearch-modal-background: #15172a;
    --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
    --docsearch-searchbox-background: #090a11;
    --docsearch-searchbox-focus-background: #000;
    --docsearch-hit-color: #bec3c9;
    --docsearch-hit-shadow: none;
    --docsearch-hit-background: #090a11;
    --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, .3);
    --docsearch-footer-background: #1e2136;
    --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, .5), 0 -4px 8px 0 rgba(0, 0, 0, .2);
    --docsearch-muted-color: #7f8497
}

.dd-search {
    position: relative
}

@media (min-width: 992px) {
    .dd-search {
        position:absolute;
        top: .875rem;
        left: 50%;
        width: 200px;
        margin-left: -100px
    }
}

@media (min-width: 1200px) {
    .dd-search {
        width:280px;
        margin-left: -140px
    }
}

.DocSearch-Container {
    --docsearch-muted-color: var(--bs-secondary-color);
    --docsearch-hit-shadow: none;
    z-index: 2000;
    cursor: auto
}

@media (min-width: 992px) {
    .DocSearch-Container {
        padding-top:4rem
    }
}

.DocSearch-Button {
    --docsearch-searchbox-background: rgba(0,0,0,0.1);
    --docsearch-searchbox-color: #fff;
    --docsearch-searchbox-focus-background: rgba(0,0,0,0.25);
    --docsearch-searchbox-shadow: 0 0 0 0.25rem rgba(255,255,255,0.4);
    --docsearch-text-color: #fff;
    --docsearch-muted-color: rgba(255,255,255,0.65);
    width: 100%;
    height: 38px;
    margin: 0;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: .375rem
}

.DocSearch-Button .DocSearch-Search-Icon {
    opacity: .65
}

.DocSearch-Button:active,.DocSearch-Button:focus,.DocSearch-Button:hover {
    border-color: #ffffff
}

.DocSearch-Button:active .DocSearch-Search-Icon,.DocSearch-Button:focus .DocSearch-Search-Icon,.DocSearch-Button:hover .DocSearch-Search-Icon {
    opacity: 1
}

@media (max-width: 991.98px) {
    .DocSearch-Button,.DocSearch-Button:hover,.DocSearch-Button:focus {
        background:transparent;
        border: 0;
        box-shadow: none
    }

    .DocSearch-Button:focus {
        box-shadow: var(--docsearch-searchbox-shadow)
    }
}

@media (max-width: 991.98px) {
    .DocSearch-Button-Keys,.DocSearch-Button-Placeholder {
        display:none
    }
}

.DocSearch-Button-Keys {
    min-width: 0;
    padding: .125rem .25rem;
    background: rgba(0,0,0,0.25);
    border-radius: .25rem
}

.DocSearch-Button-Key {
    top: 0;
    width: auto;
    height: 1.25rem;
    padding-right: .125rem;
    padding-left: .125rem;
    margin-right: 0;
    font-size: .875rem;
    background: none;
    box-shadow: none
}

.DocSearch-Commands-Key {
    padding-left: 1px;
    font-size: .875rem;
    background-color: rgba(0,0,0,0.1);
    background-image: none;
    box-shadow: none
}

.DocSearch-Form {
    border-radius: var(--bs-border-radius)
}

.DocSearch-Hits mark {
    padding: 0
}

.DocSearch-Hit {
    padding-bottom: 0;
    border-radius: 0
}

.DocSearch-Hit a {
    border-radius: 0;
    border: solid var(--bs-border-color);
    border-width: 0 1px 1px
}

.DocSearch-Hit:first-child a {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-top-width: 1px
}

.DocSearch-Hit:last-child a {
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius)
}

.DocSearch-Hit-icon {
    display: flex;
    align-items: center
}

.DocSearch-Logo svg .cls-1,.DocSearch-Logo svg .cls-2 {
    fill: var(--docsearch-logo-color)
}

.dd-masthead {
    --dd-pink-rgb: 214,51,132;
    padding: 3rem 0;
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--dd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--dd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--dd-pink-rgb), 0.5), transparent 50%)
}

.dd-masthead h1 {
    --bs-heading-color: var(--bs-emphasis-color);
    font-size: calc(1.525rem + 3.3vw)
}



.color-swatches {
    margin: 0 -5px
}

.color-swatches .dd-purple {
    background-color: #4c0bce
}

.color-swatches .dd-purple-light {
    background-color: #d5c1fd
}

.color-swatches .dd-purple-lighter {
    background-color: #e5e1ea
}

.color-swatches .dd-gray {
    background-color: #f9f9f9
}

.color-swatch {
    width: 4rem;
    height: 4rem
}

@media (min-width: 768px) {
    .color-swatch {
        width:6rem;
        height: 6rem
    }
}

.swatch-blue {
    color: #fff;
    background-color: #0d6efd
}

.swatch-blue::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.50" "\a" "4.50" "\a" "4.66";
    background-color: #0d6efd;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-indigo {
    color: #fff;
    background-color: #6610f2
}

.swatch-indigo::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "7.18" "\a" "7.18" "\a" "2.92";
    background-color: #6610f2;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-purple {
    color: #fff;
    background-color: #6f42c1
}

.swatch-purple::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "6.51" "\a" "6.51" "\a" "3.22";
    background-color: #6f42c1;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-pink {
    color: #fff;
    background-color: #d63384
}

.swatch-pink::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.50" "\a" "4.50" "\a" "4.66";
    background-color: #d63384;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-red {
    color: #fff;
    background-color: #dc3545
}

.swatch-red::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.52" "\a" "4.52" "\a" "4.63";
    background-color: #dc3545;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-orange {
    color: #000;
    background-color: #fd7e14
}

.swatch-orange::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "8.17" "\a" "2.57" "\a" "8.17";
    background-color: #fd7e14;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-yellow {
    color: #000;
    background-color: #ffc107
}

.swatch-yellow::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "12.8" "\a" "1.63" "\a" "12.8";
    background-color: #ffc107;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-green {
    color: #fff;
    background-color: #198754
}

.swatch-green::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.53" "\a" "4.53" "\a" "4.63";
    background-color: #198754;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-teal {
    color: #000;
    background-color: #20c997
}

.swatch-teal::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "9.86" "\a" "2.12" "\a" "9.86";
    background-color: #20c997;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-cyan {
    color: #000;
    background-color: #0dcaf0
}

.swatch-cyan::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "10.7" "\a" "1.95" "\a" "10.7";
    background-color: #0dcaf0;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-black {
    color: #fff;
    background-color: #000
}

.swatch-black::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "21" "\a" "21" "\a" "1";
    background-color: #000;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-white {
    color: #000;
    background-color: #fff
}

.swatch-white::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "21" "\a" "1" "\a" "21";
    background-color: #fff;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-gray {
    color: #fff;
    background-color: #6c757d
}

.swatch-gray::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.68" "\a" "4.68" "\a" "4.47";
    background-color: #6c757d;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-gray-dark {
    color: #fff;
    background-color: #343a40
}

.swatch-gray-dark::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "11.5" "\a" "11.5" "\a" "1.82";
    background-color: #343a40;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-gray-500 {
    color: #000;
    background-color: #adb5dd
}

.swatch-gray-500::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "10.1" "\a" "2.07" "\a" "10.1";
    background-color: #adb5bd;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.dd-blue-100 {
    color: #000;
    background-color: #cfe2ff
}

.dd-blue-200 {
    color: #000;
    background-color: #9ec5fe
}

.dd-blue-300 {
    color: #000;
    background-color: #6ea8fe
}

.dd-blue-400 {
    color: #000;
    background-color: #3d8bfd
}

.dd-blue-500 {
    color: #fff;
    background-color: #0d6efd
}

.dd-blue-600 {
    color: #fff;
    background-color: #0a58ca
}

.dd-blue-700 {
    color: #fff;
    background-color: #084298
}

.dd-blue-800 {
    color: #fff;
    background-color: #052c65
}

.dd-blue-900 {
    color: #fff;
    background-color: #031633
}

.dd-indigo-100 {
    color: #000;
    background-color: #e0cffc
}

.dd-indigo-200 {
    color: #000;
    background-color: #c29ffa
}

.dd-indigo-300 {
    color: #000;
    background-color: #a370f7
}

.dd-indigo-400 {
    color: #fff;
    background-color: #8540f5
}

.dd-indigo-500 {
    color: #fff;
    background-color: #6610f2
}

.dd-indigo-600 {
    color: #fff;
    background-color: #520dc2
}

.dd-indigo-700 {
    color: #fff;
    background-color: #3d0a91
}

.dd-indigo-800 {
    color: #fff;
    background-color: #290661
}

.dd-indigo-900 {
    color: #fff;
    background-color: #140330
}

.dd-purple-100 {
    color: #000;
    background-color: #e2d9f3
}

.dd-purple-200 {
    color: #000;
    background-color: #c5b3e6
}

.dd-purple-300 {
    color: #000;
    background-color: #a98eda
}

.dd-purple-400 {
    color: #000;
    background-color: #8c68cd
}

.dd-purple-500 {
    color: #fff;
    background-color: #6f42c1
}

.dd-purple-600 {
    color: #fff;
    background-color: #59359a
}

.dd-purple-700 {
    color: #fff;
    background-color: #432874
}

.dd-purple-800 {
    color: #fff;
    background-color: #2c1a4d
}

.dd-purple-900 {
    color: #fff;
    background-color: #160d27
}

.dd-pink-100 {
    color: #000;
    background-color: #f7d6e6
}

.dd-pink-200 {
    color: #000;
    background-color: #efadce
}

.dd-pink-300 {
    color: #000;
    background-color: #e685b5
}

.dd-pink-400 {
    color: #000;
    background-color: #de5c9d
}

.dd-pink-500 {
    color: #fff;
    background-color: #d63384
}

.dd-pink-600 {
    color: #fff;
    background-color: #ab296a
}

.dd-pink-700 {
    color: #fff;
    background-color: #801f4f
}

.dd-pink-800 {
    color: #fff;
    background-color: #561435
}

.dd-pink-900 {
    color: #fff;
    background-color: #2b0a1a
}

.dd-red-100 {
    color: #000;
    background-color: #f8d7da
}

.dd-red-200 {
    color: #000;
    background-color: #f1aeb5
}

.dd-red-300 {
    color: #000;
    background-color: #ea868f
}

.dd-red-400 {
    color: #000;
    background-color: #e35d6a
}

.dd-red-500 {
    color: #fff;
    background-color: #dc3545
}

.dd-red-600 {
    color: #fff;
    background-color: #b02a37
}

.dd-red-700 {
    color: #fff;
    background-color: #842029
}

.dd-red-800 {
    color: #fff;
    background-color: #58151c
}

.dd-red-900 {
    color: #fff;
    background-color: #2c0b0e
}

.dd-orange-100 {
    color: #000;
    background-color: #ffe5d0
}

.dd-orange-200 {
    color: #000;
    background-color: #fecba1
}

.dd-orange-300 {
    color: #000;
    background-color: #feb272
}

.dd-orange-400 {
    color: #000;
    background-color: #fd9843
}

.dd-orange-500 {
    color: #000;
    background-color: #fd7e14
}

.dd-orange-600 {
    color: #000;
    background-color: #ca6510
}

.dd-orange-700 {
    color: #fff;
    background-color: #984c0c
}

.dd-orange-800 {
    color: #fff;
    background-color: #653208
}

.dd-orange-900 {
    color: #fff;
    background-color: #331904
}

.dd-yellow-100 {
    color: #000;
    background-color: #fff3cd
}

.dd-yellow-200 {
    color: #000;
    background-color: #ffe69c
}

.dd-yellow-300 {
    color: #000;
    background-color: #ffda6a
}

.dd-yellow-400 {
    color: #000;
    background-color: #ffcd39
}

.dd-yellow-500 {
    color: #000;
    background-color: #ffc107
}

.dd-yellow-600 {
    color: #000;
    background-color: #cc9a06
}

.dd-yellow-700 {
    color: #000;
    background-color: #997404
}

.dd-yellow-800 {
    color: #fff;
    background-color: #664d03
}

.dd-yellow-900 {
    color: #fff;
    background-color: #332701
}

.dd-green-100 {
    color: #000;
    background-color: #d1e7dd
}

.dd-green-200 {
    color: #000;
    background-color: #a3cfbb
}

.dd-green-300 {
    color: #000;
    background-color: #75b798
}

.dd-green-400 {
    color: #000;
    background-color: #479f76
}

.dd-green-500 {
    color: #fff;
    background-color: #198754
}

.dd-green-600 {
    color: #fff;
    background-color: #146c43
}

.dd-green-700 {
    color: #fff;
    background-color: #0f5132
}

.dd-green-800 {
    color: #fff;
    background-color: #0a3622
}

.dd-green-900 {
    color: #fff;
    background-color: #051b11
}

.dd-teal-100 {
    color: #000;
    background-color: #d2f4ea
}

.dd-teal-200 {
    color: #000;
    background-color: #a6e9d5
}

.dd-teal-300 {
    color: #000;
    background-color: #79dfc1
}

.dd-teal-400 {
    color: #000;
    background-color: #4dd4ac
}

.dd-teal-500 {
    color: #000;
    background-color: #20c997
}

.dd-teal-600 {
    color: #000;
    background-color: #1aa179
}

.dd-teal-700 {
    color: #fff;
    background-color: #13795b
}

.dd-teal-800 {
    color: #fff;
    background-color: #0d503c
}

.dd-teal-900 {
    color: #fff;
    background-color: #06281e
}

.dd-cyan-100 {
    color: #000;
    background-color: #cff4fc
}

.dd-cyan-200 {
    color: #000;
    background-color: #9eeaf9
}

.dd-cyan-300 {
    color: #000;
    background-color: #6edff6
}

.dd-cyan-400 {
    color: #000;
    background-color: #3dd5f3
}

.dd-cyan-500 {
    color: #000;
    background-color: #0dcaf0
}

.dd-cyan-600 {
    color: #000;
    background-color: #0aa2c0
}

.dd-cyan-700 {
    color: #fff;
    background-color: #087990
}

.dd-cyan-800 {
    color: #fff;
    background-color: #055160
}

.dd-cyan-900 {
    color: #fff;
    background-color: #032830
}

.dd-gray-100 {
    color: #000;
    background-color: #f8f9fa
}

.dd-gray-200 {
    color: #000;
    background-color: #e9ecef
}

.dd-gray-300 {
    color: #000;
    background-color: #dee2e6
}

.dd-gray-400 {
    color: #000;
    background-color: #ced4da
}

.dd-gray-500 {
    color: #000;
    background-color: #adb5dd
}

.dd-gray-600 {
    color: #fff;
    background-color: #6c757d
}

.dd-gray-700 {
    color: #fff;
    background-color: #495057
}

.dd-gray-800 {
    color: #fff;
    background-color: #343a40
}

.dd-gray-900 {
    color: #fff;
    background-color: #212529
}

.dd-white {
    color: #000;
    background-color: #fff
}

.dd-black {
    color: #fff;
    background-color: #000
}


:root,[data-bs-theme="light"] {
    --base02: #c8c8fa;
    --base03: #565c64;
    --base04: #666;
    --base05: #333;
    --base06: #fff;
    --base07: #13795b;
    --base08: #c6303e;
    --base09: #087990;
    --base0A: #6f42c1;
    --base0B: #084298;
    --base0C: #084298;
    --base0D: #6f42c1;
    --base0E: #ab296a;
    --base0F: #333
}

[data-bs-theme="dark"] {
    --base02: #3e4451;
    --base03: #868e96;
    --base04: #868e96;
    --base05: #abb2bf;
    --base06: #b6bdca;
    --base07: #feb272;
    --base08: #6edff6;
    --base09: #feb272;
    --base0A: #ffe69c;
    --base0B: #79dfc1;
    --base0C: #79dfc1;
    --base0D: #6ea8fe;
    --base0E: #c29ffa;
    --base0F: #ea868f
}

[data-bs-theme="dark"] .language-diff .gd {
    color: #e35d6a
}

[data-bs-theme="dark"] .language-diff .gi {
    color: #479f76
}

.hl {
    background-color: var(--base02)
}

.c {
    color: var(--base03)
}

.err {
    color: var(--base08)
}

.k {
    color: var(--base0E)
}

.l {
    color: var(----base09)
}

.n {
    color: var(--base08)
}

.o {
    color: var(--base05)
}

.p {
    color: var(--base05)
}

.cm {
    color: var(--base04)
}

.cp {
    color: var(--base08)
}

.c1 {
    color: var(--base03)
}

.cs {
    color: var(--base04)
}

.gd {
    color: var(--base08)
}

.ge {
    font-style: italic
}

.gh {
    font-weight: 600;
    color: var(--base0A)
}

.gi {
    color: var(--bs-success)
}

.gp {
    font-weight: 600;
    color: var(--base04)
}

.gs {
    font-weight: 600
}

.gu {
    font-weight: 600;
    color: var(--base0C)
}

.kc {
    color: var(--base0E)
}

.kd {
    color: var(--base0E)
}

.kn {
    color: var(--base0C)
}

.kp {
    color: var(--base0E)
}

.kr {
    color: var(--base0E)
}

.kt {
    color: var(--base0A)
}

.ld {
    color: var(--base0C)
}

.m {
    color: var(--base09)
}

.s {
    color: var(--base0C)
}

.na {
    color: var(--base0A)
}

.nb {
    color: var(--base05)
}

.nc {
    color: var(--base07)
}

.no {
    color: var(--base08)
}

.nd {
    color: var(--base07)
}

.ni {
    color: var(--base08)
}

.ne {
    color: var(--base08)
}

.nf {
    color: var(--base0B)
}

.nl {
    color: var(--base05)
}

.nn {
    color: var(--base0A)
}

.nx {
    color: var(--base0A)
}

.py {
    color: var(--base08)
}

.nt {
    color: var(--base08)
}

.nv {
    color: var(--base08)
}

.ow {
    color: var(--base0C)
}

.w {
    color: #fff
}

.mf {
    color: var(--base09)
}

.mh {
    color: var(--base09)
}

.mi {
    color: var(--base09)
}

.mo {
    color: var(--base09)
}

.sb {
    color: var(--base0C)
}

.sc {
    color: #fff
}

.sd {
    color: var(--base04)
}

.s2 {
    color: var(--base0C)
}

.se {
    color: var(--base09)
}

.sh {
    color: var(--base0C)
}

.si {
    color: var(--base09)
}

.sx {
    color: var(--base0C)
}

.sr {
    color: var(--base0C)
}

.s1 {
    color: var(--base0C)
}

.ss {
    color: var(--base0C)
}

.bp {
    color: var(--base05)
}

.vc {
    color: var(--base08)
}

.vg {
    color: var(--base08)
}

.vi {
    color: var(--base08)
}

.il {
    color: var(--base09)
}

.m+.o {
    color: var(--base03)
}

.language-sh .c {
    color: var(--base03)
}

.chroma .language-bash .line::before,.chroma .language-sh .line::before {
    color: var(--base03);
    content: "$ ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.chroma .language-powershell::before {
    color: var(--base0C);
    content: "PM> ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

