{% extends "layout.html" %}
{% block title %}
  {{ super() }}
  About — Datarist
{% endblock %}

{% block heading %}
  {{ super() }}
  About
{% endblock %}

{% block sub_heading %}
  {{ super() }}
  Subheading. 
{% endblock %}



<ul class="list-unstyled">
  <li class="badge bg-light gray-6 text-wrap">About</li>
      {{ off_canvas('docs_about_overview', 'Overview') }}
      {{ off_canvas('docs_about_team', 'Team') }}
      {{ off_canvas('docs_about_brand', 'Brand') }}
      {{ off_canvas('docs_about_license', 'License') }}
      {{ off_canvas('docs_about_translations', 'Translations') }}
</ul>



