{% from "macros.html" import navbar with context %}
{% from "macros.html" import off_canvas with context %}
{% from "macros.html" import nav_footer with context %}
<!doctype html>
<html>
  <head>
    <script src="{{ url_for('static', filename='js/gtag.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2a2a2e">
    <link rel="shortcut icon" href="{{ url_for('static', filename='brand/favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='brand/favicon/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='brand/favicon/android-chrome-192x192.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='brand/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='brand/favicon/favicon-48x48.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='brand/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='brand/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='brand/manifest/site.webmanifest') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Offcanvas navbar large">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='brand/logo/datarist-logo-white.png') }}" alt="datarist logo" width="100" height="24">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header border-bottom">
          <a class="offcanvas-title" id="offcanvasNavbar2Label" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='brand/logo/datarist-logo-white.png') }}" alt="datarist logo" width="100" height="24">
    </a>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {{ navbar('docs', 'Docs') }}    
            <div class="row">
              <div class="col">

<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold">Getting started</li>
  {{ off_canvas('docs_getting_started_introduction', 'Introduction') }}
</ul>

<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold">Procedures</li>
      {{ off_canvas('docs_statistics_procedures_analysis_of_variance', 'Analysis of Variance') }}
      {{ off_canvas('docs_statistics_procedures_appraisal', 'Appraisal') }}
      {{ off_canvas('docs_statistics_procedures_cluster_analysis', 'Cluster Analysis') }}
      {{ off_canvas('docs_statistics_procedures_correlation', 'Correlation') }}
      {{ off_canvas('docs_statistics_procedures_curve_fitting', 'Curve Fitting') }}
      {{ off_canvas('docs_statistics_procedures_descriptive_statistics', 'Descriptive Statistics') }}
      {{ off_canvas('docs_statistics_procedures_design_of_experiments', 'Design of Experiments') }}
      {{ off_canvas('docs_statistics_procedures_diagnostic_tests', 'Diagnostic Tests') }}
      {{ off_canvas('docs_statistics_procedures_distribution_fitting', 'Distribution Fitting') }}
      {{ off_canvas('docs_statistics_procedures_forecasting', 'Forecasting') }}
      {{ off_canvas('docs_statistics_procedures_group_sequential', 'Group Sequential') }}
      {{ off_canvas('docs_statistics_procedures_item_analysis', 'Item Analysis') }}
      {{ off_canvas('docs_statistics_procedures_meta_analysis', 'Meta Analysis') }}
      {{ off_canvas('docs_statistics_procedures_method_comparison', 'Method Comparison') }}
      {{ off_canvas('docs_statistics_procedures_mixed_models', 'Mixed Models') }}
      {{ off_canvas('docs_statistics_procedures_multivariate_analysis', 'Multivariate Analysis') }}
      {{ off_canvas('docs_statistics_procedures_nondetects_data', 'Nondetects Data') }}
      {{ off_canvas('docs_statistics_procedures_nonparametric', 'Nonparametric') }}
      {{ off_canvas('docs_statistics_procedures_operations_research', 'Operations Research') }}
      {{ off_canvas('docs_statistics_procedures_proportions', 'Proportions') }}
      {{ off_canvas('docs_statistics_procedures_quality_control', 'Quality Control') }}
      {{ off_canvas('docs_statistics_procedures_reference_intervals', 'Reference Intervals') }}
      {{ off_canvas('docs_statistics_procedures_regression', 'Regression') }}
      {{ off_canvas('docs_statistics_procedures_roc_curves', 'ROC Curves') }}
      {{ off_canvas('docs_statistics_procedures_survey_data', 'Survey Data') }}
      {{ off_canvas('docs_statistics_procedures_survival_analysis_reliability', 'Survival Analysis/ Reliability') }}
      {{ off_canvas('docs_statistics_procedures_time_series', 'Time Series') }}
      {{ off_canvas('docs_statistics_procedures_t_tests', 'T Tests') }}
      {{ off_canvas('docs_statistics_procedures_two_way_tables', 'Two Way Tables') }}
</ul>

              </div>
              <div class="col">

<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold">Sample Size</li>
  {{ off_canvas('docs_statistics_sample_size_bayesian_adjustment', 'Bayesian Adjustment') }}
  {{ off_canvas('docs_statistics_sample_size_bland_altman_method', 'Bland-Altman Method') }}
  {{ off_canvas('docs_statistics_sample_size_bridging_studies', 'Bridging Studies') }}
  {{ off_canvas('docs_statistics_sample_size_cluster_randomized_designs', 'Cluster Randomized Designs') }}
  {{ off_canvas('docs_statistics_sample_size_conditional_power', 'Conditional Power') }}
  {{ off_canvas('docs_statistics_sample_size_confidence_intervals', 'Confidence Intervals') }}
  {{ off_canvas('docs_statistics_sample_size_correlation', 'Correlation') }}
  {{ off_canvas('docs_statistics_sample_size_cross_over_designs', 'Cross Over Designs') }}
  {{ off_canvas('docs_statistics_sample_size_design_of_experiments', 'Design of Experiments') }}
  {{ off_canvas('docs_statistics_sample_size_equivalence', 'Equivalence') }}
  {{ off_canvas('docs_statistics_sample_size_exponential_distribution_parameter', 'Exponential Distribution Parameter') }}
  {{ off_canvas('docs_statistics_sample_size_group_sequential_tests', 'Group Sequential Tests') }}
  {{ off_canvas('docs_statistics_sample_size_means_one', 'Means - One') }}
  {{ off_canvas('docs_statistics_sample_size_means_two_independent', 'Means - Two Independent') }}
  {{ off_canvas('docs_statistics_sample_size_means_two_correlated_or_paired', 'Means - Two Correlated or Paired') }}
  {{ off_canvas('docs_statistics_sample_size_means_2x2_cross_over_designs', 'Means - 2x2 Cross Over Designs') }}
  {{ off_canvas('docs_statistics_sample_size_means_higher_order_cross_over_designs', 'Means - Higher Order Cross Over Designs') }}
  {{ off_canvas('docs_statistics_sample_size_means_many', 'Means - Many (ANOVA)') }}
  {{ off_canvas('docs_statistics_sample_size_mediation_effects', 'Mediation Effects') }}
  {{ off_canvas('docs_statistics_sample_size_michaelis_menten_parameters', 'Michaelis-Menten Parameters') }}
  {{ off_canvas('docs_statistics_sample_size_mixed_models', 'Mixed Models') }}
  {{ off_canvas('docs_statistics_sample_size_non_inferiority', 'Non Inferiority') }}
  {{ off_canvas('docs_statistics_sample_size_nonparametric', 'Nonparametric') }}
  {{ off_canvas('docs_statistics_sample_size_non_zero_and_non_unity_null_tests', 'Non-Zero and Non-Unity Null Tests') }}
  {{ off_canvas('docs_statistics_sample_size_normality_tests', 'Normality Tests') }}
  {{ off_canvas('docs_statistics_sample_size_pilot_studies', 'Pilot Studies') }}
  {{ off_canvas('docs_statistics_sample_size_proportions_one', 'Proportions - One') }}
  {{ off_canvas('docs_statistics_sample_size_proportions_two_independent', 'Proportions - Two Independent') }}
  {{ off_canvas('docs_statistics_sample_size_proportions_correlated_or_paired', 'Proportions - Correlated or Paired') }}
  {{ off_canvas('docs_statistics_sample_size_proportions_cross_over_designs', 'Proportions - Cross Over Designs') }}
  {{ off_canvas('docs_statistics_sample_size_proportions_sensitivity_and_specificity', 'Proportions - Sensitivity and Specificity') }}
  {{ off_canvas('docs_statistics_sample_size_proportions_many', 'Proportions - Many') }}
  {{ off_canvas('docs_statistics_sample_size_quality_control', 'Quality Control') }}
  {{ off_canvas('docs_statistics_sample_size_rates_and_counts', 'Rates and Counts') }}
  {{ off_canvas('docs_statistics_sample_size_reference_intervals', 'Reference Intervals') }}
  {{ off_canvas('docs_statistics_sample_size_regression', 'Regression') }}
  {{ off_canvas('docs_statistics_sample_size_roc_curves', 'ROC Curves') }}
  {{ off_canvas('docs_statistics_sample_size_superiority_by_a_margin_test', 'Superiority by a Margin Test') }}
  {{ off_canvas('docs_statistics_sample_size_survival_analysis', 'Survival Analysis') }}
  {{ off_canvas('docs_statistics_sample_size_tolerance_intervals', 'Tolerance Intervals') }}
  {{ off_canvas('docs_statistics_sample_size_two_part_models', 'Two-Part Models') }}
  {{ off_canvas('docs_statistics_sample_size_variances_and_standard_deviations', 'Variances and Standard Deviations') }}
</ul>



<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold">Graphics</li>
  {{ off_canvas('docs_statistics_graphics_three_d_plots', '3D Plots') }}
  {{ off_canvas('docs_statistics_graphics_bar_charts', 'Bar Charts') }}
  {{ off_canvas('docs_statistics_graphics_bland_altman_plots', 'Bland-Altman Plots') }}
  {{ off_canvas('docs_statistics_graphics_box_plots', 'Box Plots') }}
  {{ off_canvas('docs_statistics_graphics_circular_data_plots', 'Circular Data Plots') }}
  {{ off_canvas('docs_statistics_graphics_contour_plots', 'Contour Plots') }}
  {{ off_canvas('docs_statistics_graphics_curve_fitting', 'Curve Fitting') }}
  {{ off_canvas('docs_statistics_graphics_dendrograms', 'Dendrograms') }}
  {{ off_canvas('docs_statistics_graphics_density_plots', 'Density Plots') }}
  {{ off_canvas('docs_statistics_graphics_dot_plots', 'Dot Plots') }}
  {{ off_canvas('docs_statistics_graphics_error_bar_charts', 'Error Bar Charts') }}
  {{ off_canvas('docs_statistics_graphics_forecasting', 'Forecasting') }}
  {{ off_canvas('docs_statistics_graphics_forest_plots', 'Forest Plots') }}
  {{ off_canvas('docs_statistics_graphics_function_plots', 'Function Plots') }}
  {{ off_canvas('docs_statistics_graphics_heat_maps', 'Heat Maps') }}
  {{ off_canvas('docs_statistics_graphics_histograms', 'Histograms') }}
  {{ off_canvas('docs_statistics_graphics_kaplan_meier_curves', 'Kaplan Meier Curves (Survival)') }}
  {{ off_canvas('docs_statistics_graphics_line_charts', 'Line Charts') }}
  {{ off_canvas('docs_statistics_graphics_mosaic_plots', 'Mosaic Plots') }}
  {{ off_canvas('docs_statistics_graphics_percentile_plots', 'Percentile Plots') }}
  {{ off_canvas('docs_statistics_graphics_pie_charts', 'Pie Charts') }}
  {{ off_canvas('docs_statistics_graphics_probability_plots', 'Probability Plots') }}
  {{ off_canvas('docs_statistics_graphics_quality_control_charts', 'Quality Control Charts') }}
  {{ off_canvas('docs_statistics_graphics_roc_curves', 'ROC Curves') }}
  {{ off_canvas('docs_statistics_graphics_scatter_plots', 'Scatter Plots') }}
  {{ off_canvas('docs_statistics_graphics_stem_and_leaf_plots', 'Stem and Leaf Plots') }}
  {{ off_canvas('docs_statistics_graphics_surface_plots', 'Surface Plots') }}
  {{ off_canvas('docs_statistics_graphics_time_series', 'Time Series') }}
  {{ off_canvas('docs_statistics_graphics_violin_plots', 'Violin Plots') }}
</ul>


<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold">Tools for Procedures</li>
  {{ off_canvas('docs_statistics_tools_procedures_chi_square_effect_size_calculator', 'Chi Square Effect Size Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_odds_ratio_and_proportions_calculator', 'Odds Ratio and Proportions Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_probability_calculator', 'Probability Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_standard_deviatio_calculator', 'Standard Deviation Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_survival_parameter_conversion_tool', 'Survival Parameter Conversion Tool') }}
</ul>


<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold">Tools for Sample Size</li>
  {{ off_canvas('docs_statistics_tools_sample_size_chi_square_effect_size_estimator', 'Chi Square Effect Size Estimator') }}
  {{ off_canvas('docs_statistics_tools_sample_size_data_simulator', 'Data Simulator') }}
  {{ off_canvas('docs_statistics_tools_sample_size_installation_validation_tool_for_installation_qualification', 'Installation Validation Tool for Installation Qualification') }}
  {{ off_canvas('docs_statistics_tools_sample_size_multinomial_effect_size_estimator', 'Multinomial Effect Size Estimator') }}
  {{ off_canvas('docs_statistics_tools_sample_size_odds_ratio_to_proportions_converter', 'Odds Ratio to Proportions Converter') }}
  {{ off_canvas('docs_statistics_tools_sample_size_probability_calculator', 'Probability Calculator') }}
  {{ off_canvas('docs_statistics_tools_sample_size_xxxx', 'xxxx') }}
  {{ off_canvas('docs_statistics_tools_sample_size_xxxx', 'xxxx') }}
  {{ off_canvas('docs_statistics_tools_sample_size_xxxx', 'xxxx') }}
  {{ off_canvas('docs_statistics_tools_sample_size_xxxx', 'xxxx') }}
</ul>

                
<ul class="list-unstyled">
  <li class="badge bg-light text-dark text-wrap fw-semibold fs-5">About</li>
      {{ off_canvas('docs_about_overview', 'Overview') }}
      {{ off_canvas('docs_about_team', 'Team') }}
      {{ off_canvas('docs_about_brand', 'Brand') }}
      {{ off_canvas('docs_about_license', 'License') }}
      {{ off_canvas('docs_about_translations', 'Translations') }}
</ul>



              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>  
{% block content %}

{% endblock %}
  <div class="container text-center">
    <footer class="">
      <ul class="list-inline">
        {{ nav_footer('terms', 'Terms') }}
        {{ nav_footer('privacy', 'Privacy') }}
        {{ nav_footer('contact', 'Contact') }}
      </ul>
      <p class="text-muted fw-light">Datarist &copy; {{ now.year }}</p>
    </footer>
  </div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/offcanvas.js') }}"></script>
  </body>
</html>
