{% macro navbar(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% endif %}
{% endmacro %}

{% macro off_canvas(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li><a class="badge bg-purple text-decoration-none fs-6 text-wrap gray-6" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% else %}
    <li><a class="badge bg-light text-decoration-none fs-6 text-wrap link-secondary" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% endif %}
{% endmacro %}

{% macro nav_footer(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <a class="text-decoration-none gray-6" href="{{ url_for(endpoint) }}">{{text}}</a>
{% else %}
    <a class="text-decoration-none link-secondary" href="{{ url_for(endpoint) }}">{{text}}</a>
{% endif %}
{% endmacro %}
