{% macro navbar(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% endif %}
{% endmacro %}

{% macro off_canvas(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li><a class="badge bg-purple text-dark text-decoration-none fw-normal fs-6 text-wrap lh-lg" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% else %}
    <li><a class="badge bg-light text-muted text-decoration-none fw-normal fs-6 text-wrap lh-lg" href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% endif %}
{% endmacro %}
