{% extends "layout.html" %}
{% block title %}
  {{ super() }}
  Tools — Datarist
{% endblock %}
{% block content %}
<div class="container">
  Tools.


<ul class="list-unstyled">
  <li class="badge bg-light gray-6 text-wrap">Tools for Procedures</li>
  {{ off_canvas('docs_statistics_tools_procedures_chi_square_effect_size_calculator', 'Chi Square Effect Size Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_odds_ratio_and_proportions_calculator', 'Odds Ratio and Proportions Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_probability_calculator', 'Probability Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_standard_deviation_calculator', 'Standard Deviation Calculator') }}
  {{ off_canvas('docs_statistics_tools_procedures_survival_parameter_conversion_tool', 'Survival Parameter Conversion Tool') }}
</ul>


<ul class="list-unstyled">
  <li class="badge bg-light gray-6 text-wrap">Tools for Sample Size</li>
    {{ off_canvas('docs_statistics_tools_sample_size_chi_square_effect_size_estimator', 'Chi Square Effect Size Estimator') }}
    {{ off_canvas('docs_statistics_tools_sample_size_data_simulator', 'Data Simulator') }}
    {{ off_canvas('docs_statistics_tools_sample_size_installation_validation_tool_for_installation_qualification', 'Installation Validation Tool for Installation Qualification') }}
    {{ off_canvas('docs_statistics_tools_sample_size_multinomial_effect_size_estimator', 'Multinomial Effect Size Estimator') }}
    {{ off_canvas('docs_statistics_tools_sample_size_odds_ratio_to_proportions_converter', 'Odds Ratio to Proportions Converter') }}
    {{ off_canvas('docs_statistics_tools_sample_size_probability_calculator', 'Probability Calculator') }}
    {{ off_canvas('docs_statistics_tools_sample_size_procedure_validation_tool_for_operational_qualification', 'Procedure Validation Tool for Operational Qualification') }}
    {{ off_canvas('docs_statistics_tools_sample_size_standard_deviation_estimator', 'Standard Deviation Estimator') }}
    {{ off_canvas('docs_statistics_tools_sample_size_standard_deviation_of_means_calculator', 'Standard Deviation of Means Calculator') }}
    {{ off_canvas('docs_statistics_tools_sample_size_survival_parameter_conversion_tool', 'Survival Parameter Conversion Tool') }}
</ul>
</div>
{% endblock %}
