{% extends "layout-statistics.html" %}
{% block title %}
  {{ super() }}
  Multivariate Analysis — Datarist
{% endblock %}
{% block heading %}
  {{ super() }}
  Multivariate Analysis
{% endblock %}
{% block sub_heading %}
  {{ super() }}
  Documentation and examples for Factor Analysis, Principal Components Analysis, Canonical Correlation, Equality of Covariance, Discriminant Analysis, Hotelling's One-Sample T2, Hotelling's Two-Sample T2, Multivariate Analysis of Variance (MANOVA), Correspondence Analysis, Loglinear Models, Multidimensional Scaling and more. 
{% endblock %}


